<div oncontextmenu="return false;">
<div class="container" style="float:left">
    <a class="page-link" href="/pages/video.html">
        <img src="/assets/img/movie.png" alt="video" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Video</div>
        </div>
        <div class="text-fixed">Video</div>
    </a>
</div>


<div class="container" style="float:left">
    <a class="page-link" href="/pages/illustrations.html">
        <img src="/assets/img/illustrations.png" alt="illustrations" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Illustrations</div>
        </div>
        <div class="text-fixed">Illustrations</div>
    </a>
</div>

<div class="container" style="float:left">
    <a class="page-link" href="/works/soundprojects.html">
        <img src="/assets/img/sound.png" alt="soundwork" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Soundwork</div>
        </div>
        <div class="text-fixed">Soundwork</div>
    </a>
</div>


<div class="container" style="float:left">
    <a class="page-link" href="/pages/installations.html">
        <img src="/assets/img/installazioni.png" alt="installations" class="image" style="width:100%">
        <div class="middle">
            <div class="text">Installations</div>
        </div>
        <div class="text-fixed">Installations</div>
    </a>
</div>




</div>
<div style="clear:both;"></div>