<!-- footer pagina -->
<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">

        <ul class="contact-list">
          <li class="u-email">Email:</li>
          <li><a class="u-email" href="mailto:andrea.lucifero@hotmail.com">andrea.lucifero@hotmail.com</a></li>
        </ul>

        <div class="social-media-list">
          <a href="https://www.linkedin.com/in/andrea-lucifero"><svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
            </svg></a>

          <a href="https://www.youtube.com/channel/UCLDCM3snvJ0IPZc6XdrcFIA"><svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#youtube"></use>
            </svg>
          </a>

          <a href="https://soundcloud.com/andrealucifero"><svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#soundcloud"></use>
            </svg></a>

          <a href="https://vimeo.com/andrealucifero"><svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#vimeo"></use>
            </svg></a>

          <a href="https://www.behance.net/andrealuciSound?tracking_source=search%7Candrea%20lucifero"><svg
              class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#behance"></use>
            </svg></a>


        </div>

      </div>


      <div class="footer-col footer-col-2">
        <div class="contact-list">
          <p style="text-align: right"> © 2020 Andrea Lucifero</p>
         <!-- <p class="rss-subscribe" style="text-align: right">subscribe <a href="/feed.xml">via RSS</a></p> -->
          <p style="text-align: right"><a class="page-link" href="/crediti/">Crediti/Licenze</a></p>
        </div>
      </div>

    </div>

  </div>
</footer>